// ----------------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Palanquin:300,500,700')
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i')

=ff_title
  font-family : 'Palanquin', Helvetica, Arial, sans-serif
=ff_text
  font-family : 'Lato', Helvetica, Arial, sans-serif
=ff_form
  font-family : 'Lato', Helvetica, Arial, sans-serif