// -------------------------------------------------------------
//  General Rules
// ------------------------------------------------------------

// Touch Reset
html, body, div, a, img
  -webkit-touch-callout: none
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-user-select: none


// -------------------------------------------------------------
//  Reusable Rules
// ------------------------------------------------------------
.hidden
  display : none
  visibility: none

// Model Box Reset
=box_reset
  position: relative
  display: inline-block
  box-sizing: border-box
  width: auto
  height: auto
  margin: 0
  padding: 0
  border: 0

// Input appearance Reset
=input_reset
  -webkit-appearance: none
  -moz-appearance: none
  &:focus
    outline: none
