@import url("https://fonts.googleapis.com/css?family=Palanquin:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
html, body, div, a, img {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: white;
  font-size: 76%;
  text-align: center; }

.wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: left;
  max-width: 1240px; }
  @media only screen and (max-width: 1240px) {
    .wrapper {
      width: 100%;
      display: block;
      padding-left: 15px;
      padding-right: 15px; } }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .title {
  font-family: "Palanquin", Helvetica, Arial, sans-serif; }
.content p, .content ul, .content a, .content blockquote, .content strong {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.4em; }

/*# sourceMappingURL=base.css.map */
